.nav-mobile-toggle .icon-bar {
    display: block;
    width: 16px;
    height: 2px;
    background: #fff;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}
.nav-mobile-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
    width: 26px;
}

@media (max-width: 768px){
    .mobile-none-p{
        padding: 0;
    }
}

@media (max-width: 576px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    #app .show-mobile {
        display: block;
    }

    #app .hidden-mobile {
        display: none;
    }
}