.wrap-search{
    padding-top: 120px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.03);
}
.wrap-search .input-form {
    padding-right: 10px;
    display: flex;
}

.wrap-search .button-form {
    padding-left: 10px;
}

.wrap-search .input-form .select-with-label {
    padding: 0;
}
.input-text-search {
    padding: 0;
    margin: 0;
    border-right: 0;
}
.input-text-search input:focus{
    border: 0 !important;
    box-shadow: none;
}
.input-text-search input {
    height: 34px;
    border: 0;
    width: 100%;
    border: 0;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-left: 15px;
}
.form-group.input-text-search.col i {
    position: absolute;
    font-size: 20px;
    padding-bottom: 8px;
    right: 6px;
}
.input-text-search .placeholder {
    opacity: 0.5;
    font-family: Open Sans;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 10px;
    letter-spacing: normal;
    text-align: left;
    color: #656b6f;
    margin: 10px 0 0 0;
    left: 15px;
    /* position: inherit; */
    display: block !important;
}

.input-text-search .input-placeholder {
    height: 54px;
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border: solid 1px #e1e1e1;
    border-radius: 4px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.wrap-search .input-form .select-with-label .input-placeholder {border-left: 0;border-right: 0; border-radius: 0}
.wrap-search .input-form .select-with-label:first-child .input-placeholder{
    border-left: solid 1px #e1e1e1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.wrap-search .input-form .select-with-label:last-child .input-placeholder{
    border-right: solid 1px #e1e1e1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.wrap-search .input-form .form-group {
    background-color: #ffffff;
}
.header-total-result {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #656b6f;
}
.search-room {
    display: none;
}
.header-total-result
strong {
    font-weight: bold;
    color: #000000;
}
.search-result {
    border-top: solid 2px #dddddd;
}

.breadcrumb .select-with-label {
    padding-left: 15px;
    padding-right: 0px;
}

.search-filter {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #ededed;
}

.filter-item + .filter-item {
    margin-top: 13px;
}
.container-filter {
    padding-right: 10px;
    margin-top: 20px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}
.filter-group-header.head-sm {
    display: flex;
    line-height: inherit;
    cursor: pointer;
}

span.icon-expand-collapse {
    cursor: pointer;
}

.search-filter .filter-group + .filter-group {
    border-top: solid 1px #eeeeee;
}

.filter-group {
    padding: 15px 20px;
}

.search-item-result .item-room {
    margin-bottom: 40px;
}
.filter-group-header.is-hidden .filter-group-body {
    transition: height .4s cubic-bezier(.4,0,.2,1),opacity .4s cubic-bezier(.4,0,.2,1);
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.filter-group-body {
    height: 100%;
    opacity: 1;
    -webkit-transition: height .4s cubic-bezier(.4,0,.2,1),opacity .4s cubic-bezier(.4,0,.2,1);
    transition: height .4s cubic-bezier(.4,0,.2,1),opacity .4s cubic-bezier(.4,0,.2,1);
    display: block;
}
.filter-group-header.is-hidden + .filter-group-body {
    height: 0px;
    opacity: 0;
    height: 0;
    overflow: hidden;

}
.see-more-item {
    margin-bottom: 40px;
}